@charset "utf-8";

body {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    background-color: #1a1d28;
    overflow: hidden;
    margin: 0;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div p {
    font-size: 22px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

#red {
    color: #ff0000;
}

#blue {
    color: #0000ff;
}

#yellow {
    color: #ffff00;
}

.dialog-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px 40px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
}

#main-content.blurry-background {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.dialog-box p {
    color: #000;
    margin-bottom: 20px;
}

.dialog-box button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button.accept-all {
    background-color: #4CAF50;
    color: white;
}

button.settings {
    background-color: #007BFF;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 200px;
    height: 200px;
}

#cookie-dialog button {
    margin: 5px;
    padding: 10px;
}

#cookie-dialog button {
    position: relative;
    top: 6vh;
    right: 32vh;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#cookie-dialog .accept-all {
    background-color: #007bff;
    color: #000;
}

#cookie-dialog .settings {
    background-color: transparent;
    color: #000;
    border: 1px solid #0000ff;
}

#cookie-dialog button,
#cookie-dialog .settings {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#cookie-dialog .settings:hover {
    background-color: #007bff;
    transition: all 0.4s ease-in-out;
}

#cookie-dialog button:hover {
    filter: brightness(90%);
}

#saveSettings {
    position: relative;
    margin-left: 60px;
}
